# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
.env

# Node
node_modules/
dist/
.vite/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Models
backend/app/models/dnn/*.caffemodel
backend/app/models/dnn/*.prototxt

# Logs
*.log
